<div class="container">
    <div *ngIf="Employee.length==0">
        <p>There is no employee added yet! </p>
        <button clas="btn btn-primary" routerLink="/create-employee">
            Add Employee
        </button>
    </div>
    <div *ngIf="Employee.length !==0">
      <h3 class="text-center">Employees List</h3>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                 <th scope="col">User Id</th>
                <th scope="col">User Name</th>
                <th scope="col">User Email</th>                      
                  <th scope="col">Action</th>
                    </tr>
                </thead>
                    <tbody>
       <tr *ngFor="let employee of Employee">
                    <td>{{employee.id}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.email}}</td>
                        <td>
                        
 <span class="edit" routerLink="/employee-edit/{{employee.id}}">Edit</span>
             <span class="delete" (click)="deleteEmployee(employee.id)">Delete</span>
                        </tr>
                    </tbody>
                
            </table>
        </div>
    </div>
</div>