<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://protiviti2908.documents.azure.com:443/" />
    <add key="PrimaryKey" value="XwE2Pa1Z33e5tretTeeawEG3UEgs5EtaeFtJdGycKuAjHpPv0LyV27lmOpWVWFTO2EpPqZJMFbPtScYkW5ojQQ==" />
  </appSettings>
</configuration>